figcaption {
    text-align: center;
}

.title {
    text-align: center;
}

.verse {
    font-style: italic;
    background-color: #F5F5F5;
    text-color: #494949;
}

@media (min-width: 800px) {
  body #content,
  body #postamble {
    margin: 0 auto;
    max-width: 1280px !important;    	
  }

}
body #content {
    margin-top: 10px;
    line-height: 1.2;
}


li:not(:last-child) {
    padding-bottom: 20px;
}


.comments {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

.footdef {
    /* make footnote number and content to be on th same line */
    display: flex;
}

h2 {
    text-align: left
}
/* ul { */
/*     border: 1px solid #f00; */
/* } */

ul a{
    color: #3f4648;
    transition: color 0.5s ease;
    text-decoration: none;
}

ul a:hover {
    color: cornflowerblue;
    text-decoration: none;
}


html {
    font-family: 'Montserrat', sans-serif;
}
